<section class="block promo">

    <div class="product">
        <span class="product__title">LevelUp</span>

        <div class="product__img">
            <img />
        </div>

        <div class="product__info">
            <ul>
                <li>LevelUp</li>
                <li>LevelUp</li>
                <li>LevelUp</li>
            </ul>

            {% include "button.html" %}
        </div>
    </div>

</section>


<section class="block composition">

    <div class="container">
        <div class="composition__list">
            <div class="composition__item card">
            
            </div>

        </div>

        <div class="">
            <img />
        </div>

        <div class="composition__list">
            <div class="composition__item card">
            
            </div>

        </div>
    </div>

</section>


<section class="block reviews">

    <div class="container">
        <div class="reviews__slider">
            <div class="review__card">
            
            </div>

        </div>
    </div>

</section>


<section class="block promo">

    <div class="product">
        
        <div class="product__img">
            <img />
        </div>

        <div class="product__info">
            <ul>
                <li>LevelUp</li>
                <li>LevelUp</li>
                <li>LevelUp</li>
            </ul>
        </div>

        <div class="product__info">
            <ul>
                <li>LevelUp</li>
                <li>LevelUp</li>
                <li>LevelUp</li>
            </ul>
        </div>
    </div>

</section>


<section class="block order-form">

    <div class="product">
        <div class="product__title">
        
        </div>

        <div class="order-form__timer">
            
        </div>

        <div class="container">
            <div>
                <div class="product__img">
            
                </div>

                <div class="product__price">
            
                </div>
            </div>

            <div>
                <form>
                    <div class="form">

                    </div>
                </form>
            </div>
        </div>
    </div>

</section>