<section class="block promo">

    <div class="block__back">
        <video autoplay loop>
            <source src="./img/34-360.mp4" type="video/mp4" >
            
            <!-- <source src="./img/213616_tiny.mp4" type="video/mp4" > -->
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="page-width">

        <div class="product">
            <h1 class="h1 product__title">LevelUp</h1>

            <div class="container">
                <div class="product__img">
                    <img src="./img/prod.png" alt="product" />
                </div>

                <div class="product__info">
                    <ul class="list">
                        <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
                        <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p></li>
                        <li><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></li>
                    </ul>

                    {% include "button.html" %}
                </div>

            </div>
        </div>

    </div>

</section>


<section class="block composition">
    <div class="page-width">

        <div class="container ">

            <div class="composition__list">

                <div class="composition__item card">
                    <div class="card__img">
                        <img src="./img/prod.png" alt="">
                    </div>
                    <div class="card__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>

                <div class="composition__item card">
                    <div class="card__img">
                        <img src="./img/prod.png" alt="">
                    </div>
                    <div class="card__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>

                <div class="composition__item card">
                    <div class="card__img">
                        <img src="./img/prod.png" alt="">
                    </div>
                    <div class="card__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>

            </div>


            <div class="composition__img">
                <img src="./img/prod.png" alt="prod" />
            </div>


            <div class="composition__list">

                <div class="composition__item card">
                    <div class="card__img">
                        <img src="./img/prod.png" alt="">
                    </div>
                    <div class="card__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>

                <div class="composition__item card">
                    <div class="card__img">
                        <img src="./img/prod.png" alt="">
                    </div>
                    <div class="card__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>

                <div class="composition__item card">
                    <div class="card__img">
                        <img src="./img/prod.png" alt="">
                    </div>
                    <div class="card__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>


<section class="block reviews">

    <div class="container">
        <div class="reviews__slider">
            <div class="review__card">
            
            </div>

        </div>
    </div>

</section>


<section class="block promo">

    <div class="product">
        
        <div class="product__img">
            <img />
        </div>

        <div class="product__info">
            <ul class="list">
                <li>LevelUp</li>
                <li>LevelUp</li>
                <li>LevelUp</li>
            </ul>
        </div>

        <div class="product__info">
            <ul class="list">
                <li>LevelUp</li>
                <li>LevelUp</li>
                <li>LevelUp</li>
            </ul>
        </div>
    </div>

</section>


<section class="block order-form">

    <div class="product">
        <div class="product__title">
        
        </div>

        <div class="order-form__timer">
            
        </div>

        <div class="container">
            <div>
                <div class="product__img">
            
                </div>

                <div class="product__price">
            
                </div>
            </div>

            <div>
                <form>
                    <div class="form">

                    </div>
                </form>
            </div>
        </div>
    </div>

</section>