/*------------------*
# Base
*------------------*/

html {
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: 62.5%;                   // Такое значение font-size используется для удобства конвертации px в rem (62.5% от размера шрифта браузера 16px = 10px),
                                        // подробнее об этом методе можно узнать из статьи https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
    // @include tablet {
    //     font-size: 58.5%;
    // }

    // @include mobile {
    //     font-size: 54.5%;
    // }
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    display: block;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 120rem;
}

.container {
    width: 100%;
    display: flex;
}


.block {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__back {
        position: absolute;
        width: 100%;
        z-index: -1;
        
        video {
            width: 100%;
            height: 100%;
        }
    }
}