/*------------------*
# Main Content
*------------------*/

.main-content {
    width: 100%;
    background-image: url('../img/hexagon.jpg');
}

.product {
    position: relative;
    padding: 0 4rem;

    &__img {
        margin-right: 10%;

        @include mobile {
            margin-right: 0;
        }
    }

    &__img img {
        max-width: 20rem;

        @include mobile {
            max-width: 15rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 2rem;
    }    
}


.list {
    list-style: none;
    padding-left: 0;
    text-align: left;
    margin: 0;
}
