.review {

    .container {
        background-color: #fff;
        padding-bottom: 3rem;
    
    }

    &__card {
        background-color: $color-main;
        padding: 2rem 0;
        box-shadow: 4px 4px 5px 1px rgb(0 0 0 / 20%);
        margin-right: 2rem !important;
        margin-left: 2rem !important;

        .card__author {
            font-size: 1.4rem;
            line-height: 1.5;
        }

        .card__info {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            
            p {
                max-width: 100%;
                white-space: break-spaces;
            }
        }
    }
}